.*.swp
/node_modules
/test/cc
/test/lib/friend.js
/test/lib/jconsole.js
/test/lib/incmissing.js
/test/lib/pet/cat.js
/test/lib/pet/dog.js
/test/lib/packed.js
/test/lib/funct.js
/test/lib/functo.js
/test/lib/pandar.js
/test/joose*.js
/cc
